*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica,sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(197, 232, 238);
}
.btn{
    background-color: rgb(31, 187, 17);
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}
.divtext1{
    background-color: rgb(243, 204, 204);
    width: 500px;
    height: 550px;
    padding: 30px;
    overflow-x: hidden;
}
.title h2{
    margin: 10px 5px 20px 20px;
    color: rgb(225, 141, 30);
}
